<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        body{
            background-color : rgb(171, 121, 171);
        }

        .button {
            border-radius: 4px;
            padding: 12px 28px;
            background-color: #032542;

            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .navbar-custom {
            background-color: #046d53;
            border: 3px solid #556b2f;

        }

        .button1:active {
            background-color: #f0e68c;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        .navbar-custom {
            height: 80px;
        }

        .headertop {
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;
        }

        .container {
            margin: auto;
            width: 80%;
            /* border: 3px solid green; */
            padding: 10px;
        }
    </style>
</head>
<nav class="navbar-custom">
    <div class="container-fluid">

        <header>
            <h2 class="headertop"><b>Result Management System</b></h2>

        </header>

    </div>
</nav>
<a href="/home" style="float:right" class="button mt-4 mr-4">Logout</a>

<body>
    <a href="/teacher_login" style="float:left" class="button mt-4 ml-4">Back</a>
    <br>
    <br>
    <br>

    <div class="container">

        <a href="/add" style="float:right" class="button">Add User</a>
        <br>
        <h3 align="center"><b>List Of Records</b></h3>
        <br>

        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>rollno</th>
                    <th>name</th>
                    <th>dob</th>
                    <th>scores</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user){ %>
                    <tr>
                        <td>
                            <%= user.rollno %>
                        </td>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= user.dob %>
                        </td>
                        <td>
                            <%= user.scores %>
                        </td>
                        <td>
                            <a href="edit/<%= user.Stu %>" class="btn btn-sm btn-primary">edit</a>
                            <a href="delete/<%= user.Student_id%>" class="btn btn-sm btn-danger">delete</a>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>

</body>

</html>